@charset "UTF-8";
/* CSS Document */






.container {
	width:983px;
	margin-right:auto;
	margin-left:auto;
}
.containerCareSheet {
	width:983px;
	margin-right:auto;
	margin-left:auto;
	height: 468px;
}
#header {
	width:980px;
	height: 93px;
}
#headerLeft {
	float:left;
	width:416px;
	margin-left: 30px;
	height: 93px;
}
#headerRight {
	float:right;
	width: 470px;
	margin-right: 30px;
	height: 93px;
}
#nav {
	height:35px;
	font-size:10px;
	color:#FFFFFF;
	line-height:35px;
	float:right;
	letter-spacing: 1px;
	text-transform: uppercase;
	width: 461px;
}
#frame-top {
	float:left;
	width:983px;
	height:18px;
	background-image: url(images/frame-top.png);
}
#frame-care-sheet {
	float:left;
	width:983px;
	height:550px;
	background-image: url(images/care-sheet.png);
}
#frame-contact {
	float:left;
	width:983px;
	height:550px;
	background-image: url(images/contact.png);
}
#frame-middle-wrapper {
	float:left;
	width:980px;
	background-repeat: repeat-x;
	background-position: center top;
	padding: 0px;
	background-color: #000;
}
#frame-middle {
	float:left;
	width:903px;
	background-image: url(images/frame-middle.png);
	padding-top: 22px;
	padding-right: 40px;
	padding-bottom: 22px;
	padding-left: 40px;
	background-color: #000;
	background-repeat: repeat-y;
}
#frame-bottom {
	float:left;
	width:983px;
	height:18px;
	background-image: url(images/frame-bottom.png);
	margin-bottom: 80px;
}
.artists-wrapper {
	float:left;
	width: 903px;
	line-height: 18px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #4E4E4E;
	padding-top: 25px;
}
#artists-description {
	width:305px;
	float:left;
}







#top-frame {
	float:left;
	width:983px;
	height:18px;
	background-image: url(images/top-frame/top-frame.png);
	margin-top: 99px;
	z-index: 20;
	position: absolute;
}
#bottom-layer {
	width: 964px;
	height: 425px;
	z-index: 5;
	margin-top: 109px;
	margin-left: 10px;
	position: absolute;
}
#top-frame-text {
	position:absolute;
	margin-left: 600px;
	margin-top: 0px;
	color: #FFFFFF;
	z-index: 50;
	background-image: url(http://rayguntattoo.com/images/top2-frame/text-gradient.png);
	height: 247px;
	width: 297px;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 50px;
	line-height: 18px;
}
#bottom-frame {
	width: 983px;
	height: 343px;
	z-index: 5;
	margin-top: 544px;
	margin-left: 0px;
	position: absolute;
}
#bottom-frame img {
	float:left;
}
#bottom-layer-2 {
	width: 964px;
	height: 768px;
	z-index: 5;
	margin-top: 109px;
	margin-left: 10px;
	position: absolute;
	background-color: #000;
}
#main-content {
	width: 903px;
	position: absolute;
	z-index: 30;
	margin-top: 110px;
	float: left;
	padding-right: 40px;
	padding-left: 40px;
}

.blockquote {
	margin-bottom:9px;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #4E4E4E;
	border-bottom-color: #4E4E4E;
	margin-top: 30px;
	width: 285px;
}
.black-caps {
	text-transform:uppercase;
	font-size:10px;
	color:#000;
}
.yellow-caps {
	text-transform:uppercase;
	font-size:10px;
	color:#f0c001;
	height: 12px;
	line-height: 12px;
	width: 250px;
	margin-bottom: 15px;
	padding-bottom: 0px;
}
.red-caps {
	text-transform:uppercase;
	font-size:10px;
	color:#F80501;
	height: 12px;
	line-height: 12px;
	width: 250px;
	margin-bottom: 15px;
	padding-bottom: 0px;
}
#bottom-layer-normal {
	width: 964px;
	height: 768px;
	z-index: 5;
	margin-top: 109px;
	margin-left: 10px;
	position: absolute;
	background-image: url(images/main-bg-1.png);
}
#artists-photo {
	width:549px;
	height:365px;
	float:right;
}
#artists-gallery {
	float:left;
	margin-top: 30px;
	width: 903px;
	line-height: 18px;
}














.care-sheet-info-wrapper {
	float:left;
	width: 903px;
}
#care-sheet-info-image {
	width:901px;
	height:264px;
	float:right;
}
.care-sheet-info-column {
	float:left;
	width:375px;
}
#care-sheet-info-title {
	float:left;
	width:390px;
	line-height: 18px;
	height: 21px;
	margin-bottom: 22px;
}



img {border:0px;}



.graphic, #prevBtn, #nextBtn, .graphic2, #prevBtn2, #nextBtn2 {
	margin-top:100px;
	/*	margin:0;
	padding:0;*/
	display:block;
	overflow:hidden;
	text-indent:-8000px;
}
#slider-container {
	width: 902px;
	height: 300px;
	float: left;
	margin-bottom: 50px;
	margin-top: 40px;
}
#slider-container2 {
	width: 902px;
	height: 300px;
	float: left;
}
#slider {
	width:810px;
	height:250px;
	overflow:hidden;
	position: absolute;
	margin-right: 46px;
	margin-left: 46px;
	float: left;
}
#slider2 {
	width:810px;
	height:250px;
	overflow:hidden;
	position: absolute;
	margin-right: 46px;
	margin-left: 46px;
}
#slider ul {	width:810px;
}
#slider ul, #slider li, #slider2 ul, #slider2 li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
#slider li, #slider2 li {
	width:280px;
	float:left;
	height:250px;
	overflow:hidden;
	text-align: center;
}
#slider2 li {
}
#slider2 li h2 {
	margin:0 20px;
	padding-top:20px;
}
#slider2 li p {
	margin:20px;
}
p#controls, p#controls2 {
	margin:0;
	position:relative;
}
#prevBtn, #nextBtn, #prevBtn2, #nextBtn2 {
	display:block;
	width:40px;
	height:40px;
	left:0px;
	top:0px;
	position: relative;
	float: left;
}
#nextBtn, #nextBtn2 {
	float: right;
	margin-right:0px;
}
#prevBtn a, #nextBtn a, #prevBtn2 a, #nextBtn2 a {
	display:block;
	width:40px;
	height:80px;
}
#nextBtn a, #nextBtn2 a {
	background-image: url(images/artists/btn_next.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#prevBtn a, #prevBtn2 a {
	background-image: url(images/artists/btn_prev.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#intro-images-title, #intro-images-title2 {
	margin-bottom:15px;
	font-size:14px;
	color:#FFFFFF;
}
.gallery-title {
	font-size: 12px;
	letter-spacing: 0.3em;
	color: #f0c001;
	margin-bottom: 5px;
}

#intro-images-title2 {
	margin-bottom:15px;
	font-size:14px;
	color:#FFFFFF;
}

p#controls, p#controls2{
	margin:0;
	position:relative;
	} 
.care-sheet-image {
	float:right;
	width:479px;
}
#care-sheet-image-wrapper {
	position:absolute;
	margin-top: 109px;
	color: #FFFFFF;
	z-index: 50;
	background-image: url(http://rayguntattoo.com/images/top2-frame/text-gradient.png);
	height: 391px;
	width: 479px;
	line-height: 18px;
	margin-left: 420px;
}
